{% extends 'base.html' %}
{% block content %}

<form method="POST" action="">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}

    {%endif %}
    <h1>Login</h1>
    <label for="email">Email:</label>
    <input type="email" placeholder="Enter Email" id="email" name="email">
    <label for="password">Password:</label>
    <input type="password" placeholder="Enter Password" id="password" name="password">
    <button type="submit">Login</button>
</form>

{% endblock %}