{% extends 'base.html' %}
{% block content %}

<div class="max-w-4xl mx-auto py-8">
    {% for order in orders %}
    {% if order %}
        <div class="bg-white shadow-md rounded px-8 py-6">
            <h2 class="text-xl font-semibold mb-4">Product Order Details</h2>
            <div class="grid grid-cols-2 gap-4">
            
                <div>
                    <p><strong>Customer:</strong> {{ order.customer }}</p>
                    <p><strong>Email:</strong> {{ order.email }}</p>
                    <p><strong>Phone Number:</strong> {{ order.phone_number }}</p>
                    <p><strong>Country:</strong> {{ order.country }}</p>
                    <p><strong>First Name:</strong> {{ order.first_name }}</p>
                    <p><strong>Last Name:</strong> {{ order.last_name }}</p>
                </div>
                <div>
                    <p><strong>Product:</strong> {{ order.product }}</p>
                    <p><strong>Color:</strong> {{ order.color }}</p>
                    <p><strong>Size:</strong> {{ order.size }}</p>
                    <p><strong>Price:</strong> ${{ order.price }}</p>
                    <p><strong>Quantity:</strong> {{ order.quantity }}</p>
                    <p><strong>Subtotal:</strong> ${{ order.subtotal }}</p>
                    <p><strong>Order placed:</strong>{{ order.order_date }}</p>
                    {% if order.status %}
                    <p><strong>Order status:</strong>Order confirm</p>
                    {% else %}
                    <p><strong>Order status:</strong>Order pending</p>
                    {% endif %}
                </div>
            </div>
            <div>
                <p><strong>City:</strong> {{ order.city }}</p>
                <p><strong>State:</strong> {{ order.state }}</p>
                <p><strong>Pincode:</strong> {{ order.pincode }}</p>
                <p><strong>Payment Type:</strong> {{ order.payment_type }}</p>
            </div>
        </div>
    {% else %}
        <h1>No orders</h1>
    {% endif %}
    
    {% endfor %}
</div>

{% endblock %}