{% extends 'base.html' %}
{% block content %}
<div class="max-w-4xl mx-auto my-12" >
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-green-500 sm:text-4xl font-semibold text-3xl"><i class="fa-solid fa-circle-check" style="color: #32a985;"></i> Order places, thank you!</h1>
        
        
        <div class="my-3">
            <p >Confirmation will be sent to your email</p>
        </div>
        <div class="my-3">
            <a
                class="group relative inline-block text-sm font-medium text-black focus:outline-none focus:ring active:text-black"
                href="{% url 'orders' %}"
                >
                <span class="absolute inset-0 border border-current"></span>
                <span
                    class="block border border-current bg-white px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
                >
                    Go to orders
                </span>
            </a>
        </div>
    </div>
    

</div>
{% endblock %}