{% extends 'base.html' %}
{% block content %}

<form method="POST" action="{% url 'otp' email=email %}">
    {% csrf_token %}
    <h1>OTP:</h1>
    {% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}

    {%endif %}
    <input name="otp1" type="text" maxlength="1" class="w-4 border" min="0" autocomplete="off">
    <input name="otp2" type="text" maxlength="1" class="w-4 border" min="0" autocomplete="off">
    <input name="otp3" type="text" maxlength="1" class="w-4 border" min="0" autocomplete="off">
    <input name="otp4" type="text" maxlength="1" class="w-4 border" min="0" autocomplete="off">
    <input name="otp5" type="text" maxlength="1" class="w-4 border" min="0" autocomplete="off">
    <input name="otp6" type="text" maxlength="1" class="w-4 border" min="0" autocomplete="off">
    <button type="submit" >Verify</button>
</form>

{% endblock %}