{% extends 'base.html' %}
{% block content %}

<form method="POST" action="{% url 'password_change' email=email %}">
    {% csrf_token %}
    <h1>OTP:</h1>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {%endif %}
    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" required>

    <label for="retype_password">Retype Password:</label>
    <input type="password" name="retype_password" required>
    <button type="submit">Reset password</button>
</form>

{% endblock %}